<h1>Comments for blog entry: <%= @blog.title %></h1>

<br/>
<h2>Current text</h2>

<p>
  <%= @blog.body %>
</p>

<br/>
<h2>Unapproved comments</h2>

<table class="index">
  <thead>
  <tr>
    <th>Date</th>
    <th>User/Name</th>
    <th>URI</th>
    <th>Body</th>
    <th><%= t("action") %></th>
  </tr>
  </thead>
  <tbody>
    <% for comment in @blog.comments.not_approved %>
      <tr id="<%= dom_id comment %>">
        <td>
          <%= comment.created_at.strftime("%d-%m-%y (%H:%M)") %>
        </td>
        <td>
          <%= comment.user.email %>
          <br/>
          alias <%= h comment.name %>
        </td>
        <td>
          <%= h comment.uri %>
        </td>
        <td style="border: 1px dashed green" width="60%">
          <br/>
          <%= h comment.body %>
        </td>
        <td>
            <%= link_to t('approve'), {:action => 'approve', :id => comment} %> |
            <%= link_to_edit comment %>
            <%= link_to_delete comment %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br />
<%= link_to t('back_to_blog_entries'), admin_blog_entries_path %>

